# Database
DATABASE_URL=postgresql://farmacia:farmacia@localhost:5432/farmaciacompare

# Redis
REDIS_URL=redis://localhost:6379

# Elasticsearch
ELASTICSEARCH_URL=http://localhost:9200

# JWT
JWT_SECRET=change-me-in-production-use-256-bit-random-string
JWT_REFRESH_SECRET=change-me-refresh-use-different-256-bit-string
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Google OAuth
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

# App URLs
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_DASHBOARD_URL=http://localhost:3001
NEXT_PUBLIC_ADMIN_URL=http://localhost:3002
NEXT_PUBLIC_API_URL=http://localhost:4000
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=change-me-nextauth-secret

# API Gateway
API_GATEWAY_PORT=4000

# S3 / MinIO (local dev)
S3_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET=farmacia-uploads

# AWS (production)
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Payments — WebPay Plus (Transbank)
WEBPAY_COMMERCE_CODE=597055555532
WEBPAY_API_KEY=579B532A7440BB0C9079DED94D31EA1615BACEB56610332264630D42D0A36B1C
WEBPAY_ENVIRONMENT=integration

# Payments — MercadoPago
MERCADOPAGO_ACCESS_TOKEN=your-mercadopago-access-token

# Mobile (Expo)
EXPO_PUBLIC_API_URL=http://localhost:4000/api/v1
